@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.container-xxl {
  max-width: 2000px;
  margin: 0 auto;
}

section {
  padding: 0 100px;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

hr {
  margin: 0;
  margin-top: 30px;
  background-color: black;
  width: 316px;
  padding: 0;
}

.header .card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding-top: 304px;
  padding-bottom: 304;
}
.header .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0;
}
.header .card .card-body .card-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
.header .card .card-body .card-text {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}
.header .card .card-body .btn {
  margin: 0;
  margin-top: 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #858585;
  color: #FFFFFF;
  padding: 13px 44px;
  border-radius: 15px;
}
.header .card .card-img {
  max-width: 679px;
  max-height: 593px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 22px;
}

.benefit {
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 134px;
}
.benefit .section-title {
  margin-top: 22px;
}
.benefit .card-container {
  width: 100%;
  margin-top: 218px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefit .card-container .card {
  max-width: 460px;
  padding: 0;
  background-color: #EEEEEE;
  border: none;
}
.benefit .card-container .card .card-img-top {
  margin: 0 auto;
  width: 454px;
  height: 327px;
  border-radius: 22px;
  border: none;
}
.benefit .card-container .card .card-body {
  padding: 0;
}
.benefit .card-container .card .card-body .card-title {
  margin: 0;
  margin-top: 57px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.benefit .card-container .card .card-body .card-text {
  margin-top: 41px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}
.benefit .btn {
  padding: 24px;
  margin-top: 130px;
  background-color: #C9C9C9;
  border: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  border-radius: 20px;
}

.footer {
  background-color: #3A3A3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 100px;
  color: #FFFFFF;
}
.footer img {
  width: 80px;
  height: 80px;
  padding-right: 29px;
}
.footer .footer-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.footer .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-body {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.footer .footer-body a {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.footer .social-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 72px;
}
.footer .social-container img {
  width: 114px;
  height: 128px;
}
.footer .social-container .social-icon {
  padding: 0;
}
.footer .news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #393939;
  padding: 8px 100px;
}
.navbar .navbar-brand {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}
.navbar .navbar-nav {
  gap: 29px;
}
.navbar .nav-link {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.header {
  background-color: #FFFFFF;
  height: 1202px;
}